@charset "utf-8";
/* CSS Document */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.site-wrapper{
	width:1069px;
	margin:0 auto;
	height:1551px;
	background:url(../images/trial.png) 0 0 no-repeat;
}
.header-wrapper{
	width:1009px;
	background-color:#594e4e;
	//opacity:0.5;
	height:189px;
	padding:31px 30px 9px 30px;
	position:relative;
}
.logo-wrapper{
	height:87px;
}

.menu-wrapper {
	height:80px;
	top:154px;
	position:absolute;
}
.menu-container {
	height:80px;
	float:left;
}
.search-wrapper {
	margin-top:15px;
	width:294px;
	height:51px;
	color:#366;
	float:right;
	background:#a49191;
	padding-left:8px;
}
.search-wrapper input {
	padding-left:13px;
	padding-right:13px;
	width:188px;
	height:26px;
	border:none;
	float:left;
	margin-top:13px;
}
.search-wrapper button {
	width:64px;
	height:51px;
	border:none;
	background:url(../images/search.png) 0 0 no-repeat;
	float:right;
	border-left:#594e4e 1px solid;
}
	
.banner-wrapper{
	width:1009px;
	background-color:#a49191;
	height:191px;
	//opacity:0.5;
	padding:17px 30px 13px 30px;
}
.content-wrapper{
	width:1069px;
	background-color:#fff;
	//opacity:0.8;
	padding-bottom:32px;
	min-height:627px;
	height:627px;
	position:relative;
}
.lightbox-wrapper {
	position: absolute;
	top: 13px;
	left: 0px;
	width: 1069px;
	height: 535px;
	background-color:rgba(237,237,237,0.5);
	//padding: 43px 30px 26px 30px;
	display:none;
}
.lightbox-closebutton {
	position: absolute;
	top: 8px;
	right: 22px;
	width: 23px;
	height: 26px;
	background-image: url(../images/close-button.png);
}
.lightbox-wrapper img {
	width: 1009px;
	height: 466px;
	margin:43px 30px 26px;
}
.up-container{
	width:1009px;
	//background:green;
	//opacity:0.8;
	padding:24px 30px 0px;
}
.content-container{
	min-height:172px;
	height:172px;
	height:auto !important;
	width:534px;
	padding:0px 167px 24px 23px;
	float:left;
	//background-color:red;
	//opacity:0.8;
	font-family:Arial, Helvetica, sans-serif;
}
.content-container h1{
	font-size:18px;
	font-weight:normal;
	margin-bottom: 6px;
}
.content-container p{
	font-size: 13px;
	color:#7f7f7f;
	margin-bottom:18px;
}
.button{
	float: left;
	height:25px;
	background:url(../images/button-bck.png) 0 0 no-repeat;
	padding-left:9px;
}
.button a {
	font-size: 11px;
	line-height: 25px;
	display: block;
	text-decoration: none;
	color: white;
	padding-right:9px;
	background:url(../images/button-right.png) right top no-repeat;

}
.shopping-guide{
	float:right;
	//background:blue;
	//opacity:0.8;
}
.zoom{
	display: block;
	margin: 25px 60px 65px 72px;
}
.text{
	margin-left:47px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#636363;
}
.buy-button{
	background:url(../images/buy-button.png) 0 0 no-repeat;
	margin-left:67px;
	height:32px;
	padding-left:5px;
	display:block;
	width:109px;
}
.buy-button a{
	background:url(../images/buy-button-right.png) right top no-repeat;
	height:32px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	display:block;
	width:104px;
	text-align:center;
	line-height:32px;
}

.tab-container{
	padding:0px 30px;
	
}

.tabs ul {
	height: 50px;
	list-style:none;
}
.tabs ul li {
	float: left;
	min-width: 193px;
	line-height: 44px;
	text-align: center;
	font-size: 13px;
	color: white;
	background: #3d8896;
}
.tabs-inactive{
	margin-left: 1px;
}
.tabs-active{
	margin-top: 7px;
	margin-right:2px;
	margin-left:2px;
}
/*.tabs ul li:hover {
	margin-top: 7px;
}*/
.divider {
	height: 10px;
	width: 1009px;
	background-image: url(../images/divider.png);
}
.tab-content {
	min-height: 327px;
	width: 1009px;
}
.tab-content ul{
	width: 1009px;
}
.tab-content ul li {
	float: left;
	list-style-type: none;
	margin: 0px 28px 0px 28px;
	padding: 0px 0px 32px 0px;
	height: 295px;
	width: 280px;
}
.tab-content ul li img {
	height: 170px;
	width: 280px;
}
.tab-content ul li h2 {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: normal;
}
.tab-content ul li p {
	font-size: 13px;
	line-height: 15px;
	min-height: 70px;
}

.footer-wrapper{
	width:1069px;
	opacity:0.5;
}
.footer-up{
	border-top:1px solid #666666;
	padding:37px 30px 0px 59px;
	background-image:url(../images/footer-pattern.png);
	min-height:254px;
}
.footer-up p{
	word-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.footer-divider{
	margin-top:20px;
	height:2px;
	width:980px;
	background-color:#3794a5;
}

.footer-up ul {
	list-style-type:none;
	margin-top:20px;
}
.footer-up ul li {
	float: left;
	margin-right: 24px;
	width: 221px;
}
.footer-up ul li img {
	margin-top: 2px;
	float: left;
}
.footer-up ul li p {
	float: right;
    font-size: 10px;
    line-height: 15px;
    width: 180px;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.footer-menu-wrapper{
	height:22px;
	padding:4px 30px 4px 59px;
}
.footer-bottom{
	background:url(../images/footer-bottom-background.png) 0 0 repeat-x;
	min-height:60px;
	width:980px;
	padding:16px 30px 0px 59px;
}
.language{
	float:left;
}
.language ul{
	list-style:none;
}
.footer-bottom-menu {
	float: right;
}
.language-container {
	float: left;
	width:130px;
	height:14px;
}	
.footer-bottom span {
	font-size: 11px;
	float: right;
}
a img{
	border:0;
}

	

	
	